/*{
  outline: 1px solid red;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  min-height: 320px;
  margin-bottom: 60px;
  background-color: #f4f7f9;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-header-inner {
  margin-bottom: 0;
}

.header-top {
  background-color: #293449;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  line-height: 1.06;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top-wraper {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  width: 220px;
  display: block;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-bottom: -5px;
  margin-top: 0;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-item {
  font-size: 17px;
  color: #ffffff;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-item input[type="text"] {
  position: relative;
  background-color: #293449;
  display: block;
  width: 100%;
  border: none;
  padding: 13px;
  padding-left: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-item input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}

.header-item input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.header-item input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.header-item input[type="text"]::placeholder {
  color: #ffffff;
}
.header-item input:focus {
  background-color: #ffffff;
  width: 100%;
}

.button-search {
  position: absolute;
  top: 5px;
  left: 10px;
  background-image: url("../img/icons/icon-search.svg");
  width: 17px;
  height: 17px;
  padding: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
  z-index: 5;
  cursor: pointer;
  border: none;
}

.header-item input:focus + .button-search {
  background-image: url("../img/icons/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 6;
  opacity: 1;
  width: 17px;
  height: 17px;
  top: 5px;
  left: 10px;
  cursor: pointer;
  border: none;
}

.header-item input:focus {
  outline: none;
}

.button-search:hover {
  opacity: 1;
  fill: #ffffff;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs {
  display: block;
  width: 80px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 20px;
  white-space: nowrap;
  margin: 0 auto;
  position: relative;
}

.basket {
  display: block;
  width: 80px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 30px;
  white-space: nowrap;
  margin: 0 auto;
  position: relative;
}

.catalog-basket {
  background-color: #ee3643;
}
.tabs::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icons/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  background-color: #29344;
}

.tabs:hover::before,
.basket:hover::before {
  opacity: 1;
}

.tabs:active::before,
.basket:active::before {
  opacity: 0.5;
}

.tabs:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.do-order {
  background-color: #5fbb2d;
  display: block;
  width: 150px;
  padding-top: 14px;
  padding-bottom: 13px;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
}

.do-order:hover {
  background-color: #518534;
  opacity: 0.5;
}

.do-order:active {
  opacity: 1;
  background-color: #63a63e;
}

.site-title {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ee3643;
  width: 200px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-title {
  font-size: 30px;
  line-height: 1;
  text-align: left;
  color: #32425c;
  width: auto;
  background-color: #f2f6f8;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
  margin: 0;
}

.telephone-number {
  position: relative;
  font-size: 21px;
  line-height: 1;
  margin: 0 auto;
  color: #ee3643;
  width: auto;
  border: solid 3px #ffffff;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 50px;
  display: block;
  line-height: 1;
}

.telephone-number::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contacts {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.user-navigation {
  font-size: 21px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.user-profile {
 margin: 0;
}

.user-line1 {
  min-width:183px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 13px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.icon-user use {
  left: 15px;
  vertical-align: middle;
  margin-right: 14px;
}

.userpic svg,
.exit svg {
  fill: #c5c5c5;
}

.userpic svg {
  padding-right: 8px;
}

.userpic:hover svg,
.exit svg:hover {
  fill: #32425C;
}

.userpic:active svg,
.exit svg:active {
  fill: #c5c5c5;
}

.userpic {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  padding-right: 39px;
}

.userpic a:hover + .userpic svg {
  fill: #32425c;
}

.userpic:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-line2 a,
.exit {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-line2 {
  margin-top: 10px;
  padding-left: 20px;
  margin-bottom: 0;
}

.user-line2 a:hover {
  color: #ee3643;
}

.user-line2 a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-line2-account {
  padding-left: 32px;
  position: relative;
}

.user-line2-account::before {
  content: "";
  top: 7px;
  left: 15px;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  z-index: 3;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
}

.site-navigation {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  width: 940px;
  min-height: 60px;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation-list a {
  display: block;
  padding-left: 0;
  padding: 20px 35px 25px 30px;
}

.site-navigation a:hover {
  background-color: #293449;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.login-link,
.sign-in {
  background-color: #ffffff;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-link {
 display: block;
 width: 45px;

 padding-left: 50px;
 padding-right: 25px;

 margin-right: 10px;
 margin-top: 0;

 position: relative;
}

.login-link::before,
.login-link:active::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before {
  background-image: url("../img/icons/icon-login-blue.svg");
}

.login-link:active::before {
  background-image: url("../img/icons/icon-login.svg");
}

.sign-in {
 display: block;
 width: 100px;
 padding-left: 25px;
 padding-right: 25px;
}

.login-link:hover,
.sign-in:hover {
  color: #ee3643;
}

.login-link:active,
.sign-in:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list li {
  list-style: none;
}

.advantages-list {
  margin-top: 0;
  padding-left: 0;
  margin-right: 0;
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
}

.materials,
.instrument,
.technique,
.discount,
.delivery-advantages {
  width: 277px;
  min-height: 98px;
  padding-top: 25px;
  padding-left: 23px;
  position: relative;
}

.materials a,
.instrument a,
.technique a,
.discount a,
.delivery-advantages a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff ;
  text-transform: uppercase;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 8px;
  padding-right: 24px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.advantages-group ul {
  padding: 0;
  margin-left: 20px;
}

.materials {
  background-color: #ffbf47;
  margin-right: 20px;
  margin-bottom: 20px;

  background-image: url("../img/icons/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  position: relative;
  overflow: hidden;
}

.materials::after,
.catalog-item-new::after {
  content: "new";

  height: 25px;
  width: 90px;
  background-color: #ee3643;

  color: #ffffff;
  position: absolute;
  top: 5px;
  right: -24px;

  font-size: 16px;
  text-align: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
}

.instrument {
  background-color: #3bbce3;
  margin-right: 20px;
  margin-bottom: 20px;

  background-image: url("../img/icons/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.technique {
  background-color: #dc91d8;
  margin-bottom: 20px;

  background-image: url("../img/icons/icon-technique.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.discount {
  background-color: #8ed78f;
  margin-bottom: 20px;

  background-image: url("../img/icons/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.delivery-advantages {
  background-color: #ffc047;
  background-image: url("../img/icons/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
}

.button {
  min-width: 180px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  padding: 13px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  vertical-align: middle;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-advantages {
  position: absolute;
  top: 63px;
  left: 25px;
  background-color: rgba(0,0,0,0.1);
}

.button-advantages:hover {
  background-color: rgba(0,0,0,0.2);
}

.button-advantages:active {
  background-color: rgba(0,0,0,0.3);
}

.slider {
  position: relative;
  padding-left: 0;
  z-index: 1;
}

.slider-list {
  padding-left: 0;
}

.slider-item {
  background-color: #32425c;
}

.drill,
.perforator {
  width: 596px;
  min-height: 240px;

  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 24px;
  padding-top: 26px;
  position: relative;
  display: block;
}

.drill h3,
.perforator h3 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.drill {
  background-image: url("../img/slider-image1.jpg");
  background-color: #685c53;
  z-index: 2;
}

.drill p,
.perforator p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  margin-top: 8px;
}

.perforator {
  display: none;
  background-image: url("../img/slider-image2.jpg");
  background-color: #685c53;
  z-index: 1;
}

.button-right {
  background-image: url("../img/icons/icon-right.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  right: 25px;
  z-index: 4;
  cursor: pointer;
  display: block;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.button-left {
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 5;
  cursor: pointer;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.button-slider {
  padding-top: 14px;
  padding-right: 49px;
  padding-bottom: 14px;
  padding-left: 45px;
  margin-bottom: 23px;
  margin-top: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 45px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  padding: 6px;
  vertical-align: middle;
}

.slider-controls i::after {
  content: "";
  width: 10px;
  height: 10px;

  background-color: #ffffff;

  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 53%;
  top: 53%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -4px;

  background-color: #ee3643;
  border-radius: 50%;
}

.producers {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.producers li {
  list-style: none;
  width: 220px;
  margin-bottom: 20px;
  text-align: center;
}

.heading-site {
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 1;
  text-align: left;
  color: #32425c;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.popular-title {
  background-color: #f9f5f0;
  width: 500px;
}

.popular-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f5f0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods-button {
  width: 253px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 24px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.producers-button {
  width: 253px;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 24px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.producers li {
  border: solid 1px #eaeaea;
  margin-top: 20px;
}

.producers li:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers li:active {
  opacity: 0.3;
}

.bosch-logo {
  padding-top: 53px;
  padding-bottom: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makita-logo {
  padding-top: 50px;
  padding-bottom: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.de-walt-logo {
  padding-top: 48px;
  padding-bottom: 53px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.interskol-logo {
  padding-top: 21px;
  padding-bottom: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hitachi-logo {
  padding-top: 58px;
  padding-bottom: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lg-logo {
  padding-top: 35px;
  padding-bottom: 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aeg-logo {
  padding-top: 23px;
  padding-bottom: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.metabo-logo {
  padding-top: 34px;
  padding-bottom: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  width: 100%;
  background-color: #f4f7f9;
  margin-top: 85px;
}

.services-delivery-title {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  padding-top: 0;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
}

.services-wrapper {
  width: 940px;
  margin: 0 auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
}

.services-part {
  width: 398px;
  margin-bottom: 74px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.services-buttons-list {
  padding-left: 0;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-right: 80px;
  position: relative;
}

.services-buttons-list::after {
  content: "";

  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");

  position: absolute;
  top: -48px;
  left: 230px;
}

.services-buttons-list li {
  list-style: none;
  margin-top: 0;
}

.services-buttons {
  background-color: #32425c;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;

  display: block;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 1px 0 0 #405069;
          box-shadow: inset 0px 1px 0 0 #405069;
  border-bottom: 1px solid #293449;
}

.services-buttons-active {
  -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
          box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  display: block;
  border-bottom: none;
}

.services-buttons:hover:not(.services-buttons-active) {
  background-color: #293449;
}

.services-buttons-list .services-buttons:active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}

.services-slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery-part {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 468px 261px;
  width: 620px;
  z-index: 3;
  margin-top: 48px;
  min-height: 284px;
  /*display: none;*/
}

.garanty-part {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 389px;
  width: 620px;
  min-height: 284px;
  z-index: 2;
  margin-top: 48px;
  display: none;
}

.delivery-part p,
.garanty-part p,
.credit-part p {
  width: 379px;
}

.credit-part {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 465px;
  width: 620px;
  min-height: 284px;
  z-index: 2;
  margin-top: 48px;
  display: none;
}

.services-part p,
.garanty-part p,
.delivery-part p,
.credit-part p {
  margin: 0;
}

.services-title {
  color: #000000;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  padding-top: 68px;
  padding-left: 0;
}

.credit-button a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  width: 195px;
  display: block;
}

.credit-button {
  background-color: #ff5357;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 35px;
}

.company-presentation {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 85px;
}

.main-contacts {
  width: 300px;
}

.features {
  width: 520px;
  margin-top: 0;
}

.features-title,
.main-contacts-title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.features p,
.main-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  margin-top: 36px;
  margin-bottom: 0;
}

.features-text {
 width: 390px;
}
.main-contacts-text {
 width: 180px;
}

.main-contacts img {
  margin-top: 36px;
  vertical-align: bottom;
}

.map-index {
  background-color: #f5f3ed;
}
.delivery-companies {
  padding-left: 0;
  margin-top: 23px;
  margin-bottom: 0;
}

.delivery-companies li {
  font-size: 18px;
  line-height: 1.11;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 36px;
  padding-bottom: 18px;
  position: relative;
}

.delivery-companies li:last-of-type {
  padding-bottom: 0;
}

.delivery-companies li::before {
  content: "";

  width: 25px;

  border: 2px solid #ee3643;

  vertical-align: middle;

  position: absolute;
  top: 7px;
  left: 0px;
  padding-right: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-company {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
}

.button-write {
  padding-left: 61px;
  padding-right: 62px;
  margin-top: 45px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.breadcrumbs li {
  list-style: none;
  padding-top: 0;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: #000000;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

.home-breadcrumbs {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 29px;
}

.home-breadcrumbs::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0px;

  width: 14px;
  height: 12px;

  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-breadcrumbs,
.instrument-breadcrumbs,
.breadcrumbs-current {
  position: relative;
}

.catalog-breadcrumbs {
  padding-left: 36px;
  padding-right: 16px;
}

.instrument-breadcrumbs,
.breadcrumbs-current {
  padding-left: 25px;
  padding-right: 16px;
}

.catalog-breadcrumbs::before,
.instrument-breadcrumbs::before,
.breadcrumbs-current::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
}

/*.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}*/

.filters {
  width: 220px;
  margin-top: 20px;
}

.filter-title,
.sorting-title {
  width: 220px;
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  background-color: #f7f3ec;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-align: left;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase;
}

.price-range {
  background-color: #f7f3ec;
  width: 220px;
  height: 50px;
  padding-left: 0;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.circle-left,
.circle-right {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 20px;
  -webkit-box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.86);
          box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.86);
  z-index: 1;
  vertical-align: middle;
}

.circle-right {
  left: 165px;
}

.circle-left::before {
  content: "";
  width: 3px;
  height: 3px;
  display: inline-block;
  background-color: #ababab;
  border-radius: 50%;
  top: 9px;
  left: 8px;
  z-index: 2;
  vertical-align: middle;
  position: absolute;
}

.circle-right::before {
  content: "";
  width: 3px;
  height: 3px;
  display: inline-block;
  background-color: #ababab;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  right: 8px;
  z-index: 2;
  vertical-align: middle;
}

.line-green {
  display: inline-block;
  width: 155px;
  height: 2px;
  background-color: #00ca74;
  border-radius: 30%;
  position: absolute;
  top: 25px;
  left: 20px;
  vertical-align: middle;
}

.line-grey {
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: #d7dcde;
  border-radius: 30%;
  position: absolute;
  top: 25px;
  left: 175px;
  vertical-align: middle;
}

.marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marks input[type="text"] {
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  color: #000000;
  background-color: #f7f3ec;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.marks span {
  padding-top: 10px;
}

.price-fieldset,
.producers-fieldset,
.power-fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
}

.producers-fieldset {
  margin-bottom: 50px;
  margin-left: 0;
  padding-left: 0;
}

.power-fieldset {
  padding-left: 0;
}

.filter-option {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.producers-list,
.power-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.next-button {
  width: 140px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  border-radius: 2px;
  text-transform: uppercase;
}

.price-form .next-button {
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.filter-input-checkbox + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  z-index: 2;
  height: 23px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input-radiobutton + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input-radiobutton:checked + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  z-index: 2;
  height: 23px;
  vertical-align: middle;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  z-index: 2;
  height: 23px;
  vertical-align: middle;
}



.filter-input-radiobutton:hover + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  z-index: 2;
  height: 25px;
  vertical-align: middle;
}

.filter-input-radiobutton:checked:hover + label::before {
  content: "";
  width: 35px;
  background-image: url("../img/icons/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  z-index: 2;
  height: 25px;
  vertical-align: middle;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radiobutton:disabled + label::before,
.filter-input-radiobutton:checked:disabled + label::before {
 opacity: 0.3;
}

.filter-input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
  /*outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;*/
}

.catalog {
  margin-left: 20px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  background-color: #f7f3ec;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sorting a {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  -webkit-text-decoration: underline dotted #ee3643;
          text-decoration: underline dotted #ee3643;
  background-color: #f7f3ec;
  padding-bottom: 0;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  display: block;
}

.sorting a:hover {
  color: #000000;
  -webkit-text-decoration: underline solid #ee3643;
          text-decoration: underline solid #ee3643;
}

.sorting a:focus,
.sorting .active {
  text-decoration: none;
  color: #ee3643;
}

.sorting-arrow:hover svg path {
  fill: #231F20;
}

.sorting-arrow:active svg path,
.sorting-arrow .active-arrow svg path {
  fill: #ee3643;
}

.catalog-items {
  width: 700px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
  overflow: hidden;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-item .image {
  width: 218px;
  height: 168px;
  background-color: #6d9ebf;
}

.catalog-item h3 {
  margin-bottom: 18px;
}

.catalog-item a {
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #000000;
  display: block;
}

.catalog-item-price {
  margin-top: 0;
  margin-bottom: 30px;
}

.deleted-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 13px;
  color: #999;
  text-decoration: line-through;
}


.catalog-category span,
.deleted-price {
  display: block;
}

.catalog-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

/*.no-del-price {
  margin-top: 50px;
}*/

.image-hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  min-height: 168px;

  background-color: rgba(255,255,255,0.9);
  padding: 40px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-item:hover .image-hover {
  opacity: 1;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.image-hover .button-buy,
.image-hover .button-tabs {
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.image-hover .button-tabs {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: 3px solid #367315;
}

.button-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.button-tabs:hover {
  border: 3px solid #32425c;
  border-bottom-color: #32425c;
}

.button-tabs:active {
  border: 3px solid #32425c;
  opacity: 0.3;
  border-bottom-color: #32425c;
  color: rgba(50, 66, 92, 0.3);
}

.image-hover a:hover,
.image-hover a:focus {
  display: block;
}

.catalog-item:focus-within .image-hover {
 opacity: 1;
 display: block;
 background-color: rgba(255,255,255,0.0);
}

.catalog-item:focus-within .image {
  opacity: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.pagination-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a,
.next-button a,
.price-form .next-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.pagination-item a {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
  cursor: pointer;
}

.next-button a {
  padding-top: 11px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  margin-right: 0;
}

.pagination-item:hover,
.next-button:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active,
.next-button:active {
  border: 1px solid #ee3643;
}

.pagination-item-active {
  background-color: #ee3643;
}

.pagination-item-active a {
  color: #ffffff;
}

.perforator-info  {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.perforator-footer {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f7f9;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.perforator-title {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.perforator-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: #000000;
  text-align: justify;
}

.site-footer {
  font-size: 18px;
  line-height: 1.33;
  background-color: #32425c;
  list-style: none;
  width: 100%;
  min-height: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation li {
  margin-left: 50px;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts {
  width: 380px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-contacts p {
  margin: 0;
}

.footer-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.footer-products li {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-bottom {
  width: 100%;
  background-color: #293449;
}

.footer-bottom-wrapper {
  color: #ffffff;
  font-size: 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 105px;
  line-height: 1.13;
  margin: 0 auto;
}

.footer-copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 33px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0px;
  margin-right: 161px;
  width: 228px;
  box-sizing: border-box;
}

.social-buttons {
  margin-left: 0px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 140px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.social-button {
  width: 42px;
  height: 42px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 140px;
  margin-right: 20px;
}

.footer-copyright-htmlacademy {
  width: 100px;
  padding-left: 10px;
  padding-right: 20px;
}

.footer-feedback,
.footer-copyright-htmlacademy {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 0;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.13;
}

.footer-products li,
.contact-htmlacademy li,
.social-buttons li {
  list-style: none;
}

.footer-products a,
.contact-htmlacademy {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-products a:hover,
.contact-htmlacademy:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-products a:active {
  opacity: 0.5;
  text-decoration: none;
}

.contact-htmlacademy:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  /*display: none;*/
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 50px;
  z-index: 6;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-close {
  position: absolute;
  right: 0;
  border: none;
}

.modal-map {
  display: none;
  width: 940px;
  border: none;
  padding: 0;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 7;
  border: none;
}

.write-us {
  width: 460px;
  font: inherit;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #000000;
  border-top: 7px solid #ee3643;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 0px;
  display: none;
}

.write-us h2 {
  font-size: 0;
}

.write-us .name-line,
.write-us .email-line {
  width: 45%;
  margin-top: 45px;
}

.write-us .write-line {
  width: 100%;
  margin-top: 22px;
}

.write-us textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: #a9a9a9;
  display: block;
  width: 100%;
  margin-top: 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us input[type="text"],
.write-us input[type="email"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: #a9a9a9;
  width: 100%;
  margin-top: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us input[type="text"]::-webkit-input-placeholder,
.write-us input[type="email"]::-webkit-input-placeholder,
.write-textarea {
  padding-left: 16px;
}

.write-us input[type="text"]:-ms-input-placeholder,
.write-us input[type="email"]:-ms-input-placeholder,
.write-textarea {
  padding-left: 16px;
}

.write-us input[type="text"]::-ms-input-placeholder,
.write-us input[type="email"]::-ms-input-placeholder,
.write-textarea {
  padding-left: 16px;
}

.write-us input[type="text"]::placeholder,
.write-us input[type="email"]::placeholder,
.write-textarea {
  padding-left: 16px;
}

.write-us textarea:hover,
.write-us input[type="text"]:hover,
.write-us input[type="email"]:hover {
  border: 2px solid #b5b5b5;
}

.write-us textarea:focus,
.write-us input[type="text"]:focus,
.write-us input[type="email"]:focus {
  border: 2px solid #ee3643;
}

.write-textarea {
  margin-top: 13px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

.button-modal {
  width: 460px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 80px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.form-button-footer {
  background-color: #f4f4f4;
  min-height: 112px;
  margin-left: -80px;
  margin-right: -80px;
  width: 620px;
}

.basket-modal {
  /*display: none;*/
  width: 620px;
  border-top: 7px solid #ee3643;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  padding-left: 80px;
  padding-right: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket-text {
  text-align: left;
  vertical-align: middle;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.basket-text::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icons/modal-check.svg");
  width: 98px;
  height: 66px;

  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}

.button-basket {
  margin-left: 80px;
  width: 220px;
  padding-left: 59px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0;
  margin-top: 37px;
  box-sizing: border-box;
}

.form-button-footer .next-shopping {
  background-color: #ffffff;
  color: #000000;
  margin-left: 20px;
  margin-top: 37px;
  width: 220px;
  border-radius: 5px;
  vertical-align: center;
  padding-left: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-close {
  border: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-position: 0 0;
  cursor: pointer;
  margin: 0;
  margin-bottom: 18px;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  right: 10px;
  top: 10px;
  position: absolute;
  background-color: transparent;
  z-index: 8;
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
